#leftColumn {
	padding: 10px;
}

#midColumn {
	padding: 10px;
}

#rightColumn {
	padding: 10px;
}

#bandSearch {
	padding-top: 15px;
	margin-left: 30%;
}

#inst {
	padding-right: 5px;
}

#borderless {
	border: none;
}

table {
	width: 85%;
}

.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}


/* STAGE SCREEN SPECIFIC */

#stage {
    background-color: #000000;
}

#stage h1 {
    color: #b22222;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
}

#stage h2 {
	color: #b22222;
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#stage h3 {
    color: #ffffff;
    font-size: 40px;
}	

#stage th, #stage td {
    font-size: 25px;
    color: #ffffff;
}

#stage .bigTop {
    font-size: 40px;
}

.headlines {
    padding-left: 3%;
    padding-right: 3%;
}

.stageSuccess {
    background-color: #58ff68;
}

#notes {
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    background-color: #ffffcc;
    overflow: hidden;
}
